html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
  background-image: url(./images/poker-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#intro {
  display: flex;
  justify-content: flex-start;
  font-size: 2em;
  font-family: fantasy;
  color: #e13021;
  margin: 0 0 0 2em;
  padding-bottom: 1px;
}

.felt {
  display: flex;
  justify-content: flex-start;
  margin-left: 3em;
}

#shuffle-button {
  background-color: #e13021;
  border: 1px black solid;
  border-radius: 0.5em;
  color: yellow;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: fantasy;
  text-align: center;
}

.dealer-button {
  display: flex;
  justify-content: flex-end;
  margin-right: 5em;
}